@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  inset: 0;
  background: #fff;
  backdrop-filter: blur(12px);
  z-index: 202;
  display: grid;
  place-items: center;
  animation: fadeIn 0.3s ease;

  overflow-y: scroll;
}

.modal_inner {
  padding-inline: 24px;
  max-width: 880px;
  padding-bottom: 120px;
}
.close {
  width: 48px;
  height: 48px;
  background: unset;
  border: unset;
  position: absolute;
  right: 30%;
  top: 40px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  margin-top: 120px;
}
.title {
  color: var(--Black, #292929);
  font-family: var(--interface-extrabold);
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.desc {
  color: var(--grey-64, #5d5d5f);
  font-family: var(--interface);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.mini_title {
  color: var(--Black, #292929);
  font-family: var(--interface-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.project_about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 120px;
}
.project_types {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.type_btn {
  color: var(--Black, #292929);
  font-family: var(--interface-medium);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 78px;
  border: 1px solid var(--grey-24, #c2c2c3);
  background: var(--White, #fff);
}
.form_wrapper {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.store_input {
  background: var(--White, #fff);
  display: flex;
  padding: 16px 24px 16px 0px;
  align-items: center;
  gap: 8px;
  color: var(--Black, #292929);
  font-family: var(--interface-medium);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: unset;
  border-bottom: 1px solid var(--grey-24, #c2c2c3);
  width: 100%;
  margin-bottom: 16px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey-24, #c2c2c3);
  margin-bottom: 16px;
}
.number span,
.store_input::placeholder {
  color: var(--grey-24, #c2c2c3);
  font-family: var(--interface-medium);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.black {
  color: var(--Black, #292929) !important;
  transition: 0.1s;
}
.black_btm {
  border-bottom: 1px solid var(--Black, #292929);
  transition: 0.1s;
}
.number span {
  padding: 16px 0 0 4px;
}
.number .store_input {
  padding: 16px 24px 0 4px;
  border: unset;
  margin-bottom: 0;
}

.submit_btn_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit_btn {
  border-radius: 310px;
  background: linear-gradient(105deg, #3c4bdc -9.99%, #7b7dff 109.77%);
  color: var(--White, #fff);
  text-align: center;
  font-family: var(--interface-semibold);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  margin-top: 24px;
  border: unset;
  outline: none;
}
.submit_btn svg {
  width: 48px;
  height: 48px;
}
.active {
  background: linear-gradient(105deg, #3c4bdc -9.99%, #7b7dff 109.77%);
  color: var(--White, #fff);
}

.submit_btn:active,
.submit_btn:focus,
.submit_btn:focus-visible,
.store_input:active,
.store_input:focus,
.store_input:focus-visible {
  outline: none;
}
@media (max-width: 1450px) {
  .close {
    right: 10%;
    top: 40px;
  }
  .title {
    font-size: 64px;
    line-height: 120%;
  }
  .desc {
    font-size: 16px;
    line-height: 150%;
  }
  .mini_title {
    font-size: 20px;
    line-height: 150%;
  }
  .project_about {
    margin-top: 80px;
  }
  .type_btn {
    font-size: 16px;
    line-height: 150%;
  }
  .store_input,
  .store_input::placeholder {
    font-size: 16px;
    line-height: 150%;
  }
  .submit_btn {
    font-size: 20px;
    line-height: 150%;
    width: 260px;
    height: 260px;
  }
}
@media (max-width: 1200px) {
  .modal_inner {
    padding-bottom: 56px;
  }
  .titles {
    gap: 8px;
    margin-top: 115px;
  }
  .close {
    right: 24px;
    top: 27px;
  }
  .project_about {
    margin-top: 56px;
    gap: 32px;
  }
  .form_wrapper {
    margin-top: 56px;
    gap: 32px;
  }

  .title {
    font-size: 32px;
    line-height: 120%;
  }
  .desc {
    font-size: 14px;
    line-height: 140%;
  }
  .mini_title {
    font-size: 18px;
    line-height: 150%;
  }
  .project_types {
    gap: 8px;
  }
  .type_btn {
    font-size: 12px;
    line-height: 130%;
  }
  .store_input {
    padding: 12px 24px 12px 0px;
    font-size: 18px;
    line-height: 150%;
    font-family: var(--interface);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .number span,
  .store_input::placeholder {
    font-family: var(--interface);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .submit_btn_box {
  }
  .submit_btn {
    border-radius: 310px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    gap: 16px;
    width: 248px;
    height: 248px;
    flex-shrink: 0;
    margin-top: 56px;
    border: unset;
  }
}
