@font-face {
  font-family: "Interface regular";
  src: url("../public/fonts/Interface/TTInterfaces-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Interface medium";
  src: url("../public/fonts/Interface/TTInterfaces-Medium.woff");
  font-display: swap;
}

@font-face {
  font-family: "Interface semibold";
  src: url("../public/fonts/Interface/TTInterfaces-SemiBold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Interface bold";
  src: url("../public/fonts/Interface/TTInterfaces-Bold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Interface ExtraBold";
  src: url("../public/fonts/Interface/TTInterfaces-ExtraBold.woff");
  font-display: swap;
}

:root {
  --interface: "Interface regular";
  --interface-medium: "Interface medium";
  --interface-semibold: "Interface semibold";
  --interface-bold: "Interface bold";
  --interface-extrabold: "Interface Extrabold";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
main {
  padding-top: 122px;
}

body {
}
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
.box {
  max-width: 1328px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section {
  margin-top: 120px;
}
.section_title {
  color: var(--black, #292929);
  font-family: var(--interface-bold);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
}
.section_title span {
  color: var(--grey-24, #c2c2c3);
  padding-left: 8px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1440px) {
  .box {
    max-width: 1136px;
  }
  .section_title {
    font-size: 48px;
    line-height: 120%;
  }
}
@media (max-width: 1300px) {
  .box {
    padding: 0 24px;
  }
}
@media (max-width: 1024px) {
  .section_title {
    font-size: 32px;
    line-height: 120%; /* 38.4px */
  }
  main {
    padding-top: 84px;
  }

  .section {
    margin-top: 88px;
  }
}
